%h1 Listing Users

%table
  %thead
    %tr
      %th Login
      %th Email
      %th Permission
      %th{:colspan => 2}
  %tbody
    -@users.each do |user|
      %tr
        %td= user.login
        %td= user.email
        %td= user.permission_level
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete

%p
  =link_to 'New user', new_user_path