%h3="from #{@remuneration.start_date} to #{@remuneration.end_date}"

%table
  %tr
    %th Category
    %th Percent
    %th Amount
  -Remuneration::CATEGORIES.each do |cat|
    %tr
      %td
        - if cat.include?("org")
          %b= cat.sub('_', ' ')
        - else
          %b= link_to cat.sub('_', ' '), remuneration_category_path(@remuneration, cat)
      %td= "#{@remuneration.send(cat).to_i}%"
      %td= number_to_currency @remuneration.send(cat + '_value')
  %tr
    %td
      %b Total
    %td
    %td= number_to_currency @remuneration.total_profits

-@remuneration.payments.each do |payment|
  %table.worker_table
    %tr
      %th= payment.user.login
      %th
    %tr
      %td Tenure
      %td= number_to_currency payment.tenure_amount
    %tr
      %td Peer review
      %td= number_to_currency payment.peer_review_amount
    %tr
      %td hours
      %td= number_to_currency payment.hours_amount
    %tr
      %td worker misc
      %td= number_to_currency payment.worker_misc_amount
    %tr
      %td worker capital
      %td= number_to_currency payment.worker_capital_amount
    %tr
      %td
        %b Total
      %td= number_to_currency payment.total_profits

=link_to 'Edit', edit_remuneration_path(@remuneration)
|
=link_to 'Back', remunerations_path
