%h3="from #{@remuneration.start_date} to #{@remuneration.end_date}"

%table
  %tr
    %th Category
    %th Percent
    %th Amount
  -Remuneration::CATEGORIES.each do |cat|
    %tr
      %td
        - if cat.include?("org")
          %b= cat.sub('_', ' ')
        - else
          %b= link_to cat.sub('_', ' '), remuneration_category_path(@remuneration, cat)
      %td= "#{@remuneration.send(cat).to_i}%"
      %td= number_to_currency @remuneration.send(cat + '_value')
  %tr
    %td
      %b Total
    %td
    %td= number_to_currency @remuneration.total_profits

=link_to 'Edit', edit_remuneration_path(@remuneration)
|
=link_to 'Back', remunerations_path
