%h3="Period from #{@remuneration.start_date} to #{@remuneration.end_date}"

%table
  %tr
    %th Category
    %th Percent
    %th Amount
  -Remuneration::CATEGORIES.each do |cat|
    %tr
      %td
        %b=cat.sub('_', ' ')
      %td= "#{@remuneration.send(cat).to_i}%"
      %td="$#{@remuneration.send(cat + '_value').to_i}"
  %tr
    %td
      %b Total
    %td
    %td="$#{@remuneration.total_profits.to_i}" 

=link_to 'Edit', edit_remuneration_path(@remuneration)
|
=link_to 'Back', remunerations_path
