%h3="from #{@remuneration.start_date} to #{@remuneration.end_date}"

%form{ :action => "/foo" }
  %table
    %tr
      %th Eligible?
      %th User
      %th Tenure
      %th Percent
      %th Payment
    -@users.each do |user|
      %tr
        %td= check_box_tag("foo", "bar", :checked => true)
        %td= user.login
        %td= "#{(@remuneration.end_date - user.created_at.to_date).to_i} days"
        %td total dates
        %td some amount

=link_to 'Back', remunerations_path
