%h3="from #{@remuneration.start_date} to #{@remuneration.end_date}"

%form{ :action => "/foo" }
  %table
    %tr
      %th User
      %th Tenure
      %th Percent
      %th Payment
    -@remuneration.payments.each do |payment|
      %tr
        %td= payment.user.login
        %td= "#{payment.user.tenure} days"
        %td= two_decimals payment.percentage_of_total_tenure * 100
        %td= number_to_currency(payment.tenure)

=link_to 'Back', remunerations_path
