%h1 Current Votes

%table
  %thead
    %tr
      %th Name
      %th Type
      %th{:colspan => 3}
  %tbody
    -@votes.each do |vote|
      %tr
        %td= truncate(vote.name, :length => 75)
        %td= vote.kind.humanize
        %td= link_to 'Vote', cast_vote_path(vote)
        %td= link_to 'Show', vote
        %td
          -unless vote.is_for_peer_review?
            = link_to 'Delete', vote, :confirm => 'Are you sure?', :method => :delete

%p= will_paginate(@votes)

%p= link_to 'New vote', new_vote_path