%h1=@vote.name

%span
  ="#{@vote.kind.humanize} showing #{@vote.tally_count} #{@vote.tally_count > 1 ? 'votes' : 'vote'}"

%table
  %tr
    %th Rank
    %th Option
    %th Score
  -@vote.ordered_options.each_with_index do |opt,i|
    %tr
      %td= "#{i+1})"
      %td=opt.name
      %td=opt.condorcet_score
      