=javascript_include_tag 'js-class'
=javascript_include_tag 'bluff-min'

:plain
  <script type="text/javascript">
    function drawGraph(){
      var g = new Bluff.Pie('pie-chart', 800);

      g.set_theme({
        colors: ['#666', '#597298', '#333', '#AFD7F5', '#999', 'black', '#a21764', 'white', '#3a5b87', '#8ab438', 
                 'green','pink', 'yellow', 'purple', 'plum', 'lime', 'gold', 'crimson', 'azure', 'tomato'],
        marker_color: '#aea9a9',
        font_color: 'white',
        background_colors: ['#494949', '#494949']
      });
      
      g.set_font('"Helvetica Neue",Arial,Helvetica,sans-serif');

      g.title = 
="\"#{h truncate(@vote.name, :length => 40)}\";"
      
-@vote.options.each do |opt|
  ="g.data(\"#{truncate(opt.name, :length => 30)}\", #{opt.average_percentage});"
  
:plain
      g.draw();
    }

    $(document).ready(function(){ 
      drawGraph();
    });
  </script>

%span
  ="#{@vote.kind.humanize} showing #{@vote.votes_cast} #{@vote.votes_cast > 1 ? 'votes' : 'vote'}"
  
  -if @vote.tallies.count > 0  
    .chart_wrapper  
      %canvas#pie-chart
  
  %table
    %tr
      %th Option
      %th Percentage
    -@vote.options.each do |opt|
      %tr
        %td=opt.name
        %td=opt.average_percentage